<!DOCTYPE html>
<html>
<head>
	<title>Bienvenido a BlackjackSchool</title>
</head>
<body>
<center><h1>Bienvenido a BlackjackSchool</h1>
<form action="/tecnicas" method="POST">
    <h3>Ingrese su nombre</h3>
	<input type="text" name="nombre">
	<input type="submit" value="Enviar">
</form>
</center>
</body>
</html>