<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
<h2><%= session['mensaje'] %> </h2>
<br>
<a href="#" onclick="javascript:history.back()">Volver ....</a>
</center>
</body>
</html>