<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Pregunta</h2>
 <%= session['bj'].verPregunta %>
<h2>Opciones</h2>
<form action="/validar" method="POST">
<% 
contador = 0
session['bj'].verOpciones.each do |opcion| %>
 <input type="radio" value="<%= contador %>" name = "opcion"><%= opcion %> <br>

<% 
contador = contador +1 
end	%>
<input type="submit" value="Enviar">
</form>
<form>
	<h1>Respuesta: <%=session['resultado']%></h1>
</form>
<form action="/jugar" method="POST">
    <input type="submit" value="Nuevo Desafío?">
</form>
</body>
</html>