<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Bienvenido <%= session['bj'].mostrarNombre %></h1>
	<h1>Tecnicas</h1>
    Escenario 1 Cuppier con carta a la vista  superior a 10 "</h1>
    <ul>
    <li>   TECNICA - Si tienes en suma valor mayor a 12 y menor a 16
                 ==> Pide carta, hasta llegar minimo a 17 puntos"
    <li>   TECNICA 2 Si tienes en suma, 9 a 11 .
                 ==> Puedes doblar "
    <li>   TECNICA 3 "Si tienes en suma, 2 a 8 .
                 ==> Puedes doblar "
    <li>   TECNICA 4 Si tienes en suma, 9 a 11 .
                 ==> Puedes doblar 
    <li>   TECNICA 3 "Si tienes en suma, 2 a 8 .
    </ul>
<form>
	<input type="submit" value="Jugar">
</form>

</body>
</html>